.modaleAbout{
  color: #08F57E;
  border-radius: 10px;
  position: absolute;
  bottom: 10%;
  width: 50%;
  background-color: #364561;
  border: 1px solid #08F57E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  &-deletIcon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
  }
  &-deletIcon:hover{
    transform: scale(1.2);
  }
  &-pp{
    width: 500px;
    border: 1px solid #08F57E;
    border-radius: 5px;
  }
  &-title{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem;
  }
  &-description{
    width: 90%;
    padding-bottom: 1rem;


  }
  &-button{
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}
