body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

/* *********************************************** header */

.header{
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color: #3D4351;
}
.nav-bar{
  display: flex;
  justify-content: space-around;
  min-width: 27rem;
}

.logo-header {
  max-width: 5%;
}
.logo-account{
  color: white;
  width: 10rem;
}

/* *********************************************** /header */

/* *********************************************** main */




/* *********************************************** /main */


/* Footer */
.footer{
  display: flex;
}
.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  justify-content: space-around;
}
