body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: #3a60a7;
  background-image: url('../src/assets/images/pexels-ben-taylor-109998.jpg');
  background-size: 100% 100%;
  background-attachment: local;
  justify-content: center;
}
.color-gold{
  color: #f2b705;
}
.color-silver{
  color: #bec8c9;
}
.color-copper{
  color: #e37944;
}
/* From uiverse.io by @nikk7007 */
button {
  padding: 0.8em 1.8em;
  border: 2px solid #08F57E;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #08F57E;
}

button::before {
content: '';
width: 0;
height: 400%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
background: #08F57E;
transition: .2s ease;
display: block;
z-index: -1;
}

button:hover::before {
width: 105%;
}

button:hover {
color: #111;
filter: drop-shadow(0 0 10px #08F57E);
}
/* From a library but modified *********************************************/
 /* *******************************header */
.header{
  width: 100%;
  height: 4rem;
  background-color: #3D4351;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #08F57E;
  filter: drop-shadow(0px 0px 15px #08f57f64);
  position: sticky;
  z-index: 5;
  top: 0%;
  right: 0%;
}
.header-search-button{
  background-color: transparent;
  border: none;
  color: #08F57E;
  transform: scale(1.3);
}
.header-search-button{
  outline: 0;
}
.header-account{
  display: none;
}
.header-menu{
  color: #08F57E;
  transform: scale(1.3);
  background-color: transparent;
  border: none;
}
.header-menu:focus{
  outline: 0;
}
.input-group{
  display: none;
}
.logo-header{
  width: 3rem;
}
.nav-bar{
  display: none;
}
 /* *******************************header */

 /* *******************************main */
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem .5rem;
}
.main-informations{
  display: none;
}
.main-tournament{
  filter: drop-shadow(0px 0px 15px #08f57f64);
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main-tournament-inscription-title{
  position: absolute;
  top: -2%;
  background-color: #364561;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  filter: drop-shadow(0px 0px 15px #08f57f64);
  border: 1px solid #08F57E;
  padding: .5rem;
  z-index: 5;
  color: #f2b705;
}
.main-tournament-inscription{
  width: 90%;
  max-height: 50vh;
  border: 1px solid #08F57E;
  background-color: #3d4351b7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}
.main-tournament-inscription-one-tournament{
  border: 1px solid #08F57E;
  border-radius: 12px;
  padding: 1rem .8rem;
  width: 85%;
  background-color: #364561;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main-tournament-inscription-one-tournament-info{
  display: flex;
  justify-content: space-between;
  max-height: 3rem;
}
.main-tournament-inscription-one-tournament-img{
  display: none;
}
.info{
color: #6CFFF2;
text-align: center;display: flex;
flex-direction: column;
gap: .5rem;
}
.info-title{
  font-size: .8rem;
}
.info-moderator{
  display: none;
}
.info-count{
  display: none;
}
.info-date{
  display: none;
}
.info-description{
  display: none;
}
.info-link{
  font-size: .65rem;
  color: #08F57E;
}
.inscription-button{
  font-size: .5rem;
}

.main-tournament-leaderboard{
  width: 90%;
  max-height: 50vh;
  border: 1px solid #08F57E;
  background-color: #3d4351b7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}
.main-tournament-leaderboard-title{
  position: absolute;
  top: 51%;
  filter: drop-shadow(0px 0px 15px #08f57f64);
  border-radius: 10px;
  background-color: #364561;
  border: 1px solid #08F57E;
  padding: .5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #f2b705;
}
.main-tournament-leaderboard-categories{
  padding-top: 1rem;
}
.main-tournament-leaderboard-categories-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}
.leaderboard-arrow{
  border-radius: 50%;
  text-align: center;
  padding: .5rem;
}
.leaderboard-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF6868;
  border: 1px solid #08F57E;
  border-radius: 10px;
  padding: .3rem .3rem;
  margin: .3rem 0;
}
.leaderboard-list-data{
  text-align: center;
  max-width: 50%;
  color: #6CFFF2;
}
 /* *******************************main */

 /* *******************************footer */
.footer{
  filter: drop-shadow(0px 0px 15px #08f57f64);
  border-top: solid 1.5px #08F57E;
  z-index: 5;
  background-color: #3D4351;
  font-size: .7rem;
  height: fit-content;
}
.footer-copyright{
  text-align: center;
  padding: .2rem;
}
.footer-nav{
  display: flex;
  justify-content: space-evenly;
  padding: .2rem;
}
.footer-nav-link{
  color: #08F57E;
  text-decoration: none;

}
 /* *******************************footer */
