body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: #3a60a7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;


  background-color: #3d4351;
  background-color: #333635;
  background-image: url("../../src/assets/images/pexels-aleksandar-pasaric-1820770.jpg");
  background-size: auto;
}
.pointer{
  cursor: pointer;
}
.color-gold{
  color: #f2b705;
}
.color-silver{
  color: #bec8c9;
}
.color-copper{
  color: #e37944;
}
.color-pink-neon{
  color: #FF2768;
}
/* From uiverse.io by @nikk7007 */
button {
  padding: 0.8em 1.8em;
  border: 2px solid #08F57E;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #08F57E;
}

button::before {
content: '';
width: 0;
height: 400%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(45deg);
background: #08F57E;
transition: .2s ease;
display: block;
z-index: -1;
}

button:hover::before {
width: 100%;
}

button:hover {
color: #111;
filter: drop-shadow(0 0 10px #08F57E);
}
/* From a library but modified *********************************************/
 /* *******************************header */
.header{
  width: 100%;
  height: 4rem;
  background-color: #3D4351;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #08F57E;
  filter: drop-shadow(0px 0px 15px #08f57f64);
  position: sticky;
  z-index: 5;
  top: 0%;
  right: 0%;
}
.header-search-button{
  background-color: transparent;
  border: none;
  color: #08F57E;
  transform: scale(1.3);
}
.header-search-button{
  outline: 0;
}
.header-account{
  display: none;
}
.header-menu{
  color: #08F57E;
  transform: scale(1.3);
  background-color: transparent;
  border: none;
}
.header-menu:focus{
  outline: 0;
}
.input-group{
  display: none;
}
.nav-bar{
  display: none;
}
 /* *******************************header */

 /* *******************************main */
 .main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem .5rem;
}
.main-error-404-glow {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  -webkit-animation: main-error-404-glow 1s ease-in-out infinite alternate;
  -moz-animation: main-error-404-glow 1s ease-in-out infinite alternate;
  animation: main-error-404-glow 1s ease-in-out infinite alternate;
}
@keyframes main-error-404-glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
 /* *******************************main */

 /* *******************************footer */
.footer{
  filter: drop-shadow(0px 0px 15px #08f57f64);
  border-top: solid 1.5px #08F57E;
  z-index: 5;
  background-color: #3D4351;
  font-size: .7rem;
  height: fit-content;
}
.footer-copyright{
  text-align: center;
  padding: .5rem;
  font-size: .75rem;
}
.footer-nav{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding: .5rem;
}
.footer-nav-link{
  color: #08F57E;
  text-decoration: none;

}
 /* *******************************footer */


@media screen and (min-width: 375px) {
  .footer{
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav{
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  body{
  background-image: url('../../src/assets/images/pexels-aleksandar-pasaric-1820770.jpg');
  background-size: 100% 100%;
  background-attachment: local;
  }
  .logo-header {
    max-width: 3%;
    transition: all .3s;
  }
  .logo-header:hover{
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 15px #08f57f64);
  }
  .nav-bar{
    display: flex;
    justify-content: space-around;
    min-width: 23rem;
    font-size: 1rem;
  }
  .nav-bar a{
    position: relative;
    color: #08F57E;
    text-decoration: none;
    transition: all .2s;
  }
  .nav-bar a:hover{
    filter: drop-shadow(0px 0px 15px #08f57f64);
  }
  .nav-bar a::after{
    content: '';
    width: 0%;
    border-bottom: 1px solid #08F57E;
    position: absolute;
    bottom: -10%;
    left: 10%;
    transition: all .2s;
  }
  .nav-bar a:hover::after{
    width: 80%;
  }
  .header-search{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header-account{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .8rem;
  }
  .logo-account{
    color: #08F57E;
  }
  .input-group{
    display: block;
    position: relative;
  }
  .input {
    border: solid 1.5px #08F57E;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: .8rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
  }
  
  .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #08F57E;
  }
  
  .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #3D4351;
    border: 1px solid #08F57E;
    border-radius: 5px;
    padding: 0 .2em;
    color: #08F57E;
  }
  .header-menu{
    /* ici on utilise important car le display none ne fonctionne pas */
    display: none !important;
  }
  .footer-nav{
    width: 20%;
  }
}

@media screen and (min-width: 1920px){
  .footer-nav{
    width: 15%;
  }
}
@media screen and (min-width: 2540px){
  .footer-nav{
    width: 10%;
  }
}
